.navigation {
  font-weight: 600;
  background-color: $color-light-gray;

  &__content {
    @include content-width;

    @media only screen and (max-width: $bp-large) {
      padding: 0 2rem;
    }

    @media only screen and (max-width: $bp-small-3) {
      height: 4rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-left: -2rem;

    @media only screen and (max-width: $bp-small-3) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-main-black;
    position: relative;
    font-size: 1.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem;
    background-color: $color-light-gray;

    @media only screen and (max-width: $bp-small-2) {
      padding: 1rem;
    }

    &::before {
      content: "";
      height: 1px;
      width: 0%;
      background-color: $color-main-black;
      position: absolute;
      opacity: 0;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      &::before {
        opacity: 1;
        width: 85%;
        transition: all .3s ease-in-out;
      }

      .dropdown {
        display: block;
      }
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

.nav-mobile {
  position: relative;
  z-index: 10;
  transition: all .5s ease-in-out;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 10rem;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__close {
    top: 7rem;
    left: 6.5%;
  }


  @media only screen and (min-width: $bp-small-3) {
    display: none;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 4rem;
  padding-top: 2rem;
  margin-left: -2rem;
}

.burger-menu {
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
  position: relative;


  @media only screen and (min-width: $bp-small-3) {
    display: none;
  }
}

.burger {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &,
  &::before,
  &::after {
    background: #000;
    display: block;
    height: .2rem;
    width: 2rem;
    position: absolute;
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: -.5rem;
  }

  &::after {
    top: .5rem;
  }

}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}